<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets Index</title>
</head>
<body>
    <h1>All Planets</h1>
    <a href="/planets/new">Add New Planet</a>
    <ul>
        <% planets.forEach(planet => { %>
            <li><a href="/planets/<%= planet._id %>"><%= planet.name %></a></li>
        <% }) %>
    </ul>
    <br>
    <a href="/">Home</a>
</body>
</html>